/*
!/SPIEDPatternsout/
/SPIEDPatternsout/*
!/SPIEDPatternsout/useNERRestriction/
/SPIEDPatternsout/useNERRestriction/*
!/SPIEDPatternsout/useNERRestriction/B000WGD13U-TERMS/
!/SPIEDPatternsout/useNERRestriction/B00DC7G2W8-TERMS/
!/SPIEDPatternsout/useNERRestriction/B0002ZQB4M-TERMS/
!/SPIEDPatternsout/useNERRestriction/B003ZTVDBS-TERMS/
!/SPIEDPatternsout/useNERRestriction/B0012H549W-TERMS/
!/SPIEDPatternsout/useNERRestriction/B00200K1TS-TERMS/
!/patterns/
/patterns/useNERRestriction_allpatterns/*
!/.gitignore